.s1r57jeu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 4.375rem;
}
@-webkit-keyframes aniBlink-s1r57jeu {
  70% {
      margin-left: -200px;
  }
  to {
      margin-left: 200px;
  }
}
@keyframes aniBlink-s1r57jeu {
  70% {
      margin-left: -200px;
  }
  to {
      margin-left: 200px;
  }
}
.s1r57jeu .tab-nav {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 12.625rem;
  height: 100%;
  background-color: #151617;
  border-radius: 0.75rem;
  padding: 0.25rem;
}
.s1r57jeu .tab-nav .ui-button {
  width: 3.875rem;
  height: 3.875rem;
  border-radius: 0.625rem;
}
.s1r57jeu .tab-nav .ui-button img {
  width: 3rem;
  height: 3.4375rem;
  display: inline-block;
  vertical-align: top;
  margin: 0.3125rem 0.5625rem;
}
.s1r57jeu .tag-wrap {
  background-color: #151617;
  height: 100%;
  width: 11.75rem;
  padding: 0.25rem;
  border-radius: 0.75rem;
}
.s1r57jeu .tag-wrap .tag {
  width: 11.25rem;
  height: 3.875rem;
  border-radius: 0.625rem;
  -webkit-flex-wrap: wrap;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0.5rem 0;
  position: relative;
  overflow: hidden;
}
.s1r57jeu .tag-wrap .tag-img {
  width: 8.75rem;
  height: 1.875rem;
  margin: 0 auto;
  position: relative;
  text-align: center;
  line-height: 1.625rem;
  background: url("../assets/tag.757e5cbe.png") no-repeat;
  background-size: 100% 100%;
  font-weight: 800;
  font-size: 1rem;
}
.s1r57jeu .tag-wrap .tag .desc {
  color: #fff;
  width: 100%;
  text-align: center;
  margin-top: -0.1875rem;
  font-weight: 800;
}
.s1r57jeu .tag-wrap .tag.active:before {
  content: "";
  top: 0;
  position: absolute;
  width: 3.75rem;
  height: 100%;
  margin-top: 0;
  margin-left: -200px;
  z-index: 6;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skew(-25deg);
  -webkit-animation: aniBlink-s1r57jeu 8.5s;
  animation: aniBlink-s1r57jeu 8.5s;
}
@media screen and (max-width: 621px) {
  .s1r57jeu .tag-wrap {
      width: 10.875rem;
  }
  .s1r57jeu .tag-wrap .tag {
      width: 10.375rem;
  }
}
.s7a8wk7 {
  margin-top: 1.6875rem;
  background-color: #151617;
  border-radius: 1.25rem;
  padding: 0.625rem;
  height: 5.8125rem;
  box-sizing: border-box;
}
.s7a8wk7 .share-bottom {
  height: 1.25rem;
  line-height: 1.25rem;
  position: relative;
  text-align: center;
}
.s7a8wk7 .share-bottom .word {
  display: inline-block;
  padding: 0 0.3125rem;
  background-color: #151617;
  position: relative;
  font-size: 0.75rem;
  z-index: 11;
}
.s7a8wk7 .share-cont {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  margin-top: 1.0625rem;
}
.s7a8wk7 .share-cont a {
  margin: 0 0.3125rem;
}
.s7a8wk7 .share-cont a.disabled {
  opacity: 0.5;
}
.s1sk8jcl {
  padding: 0 0.25rem;
  border-radius: 1.25rem;
  background-image: linear-gradient(147deg, #ffa43b -78%, #191a1b 30%);
  box-sizing: border-box;
  position: relative;
  min-width: 21.5625rem;
  min-height: 29.6875rem;
  text-align: center;
}
@-webkit-keyframes imgScale-s1sk8jcl {
  0% {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}
@keyframes imgScale-s1sk8jcl {
  0% {
      -webkit-transform: scale(0);
      -ms-transform: scale(0);
      transform: scale(0);
  }
  to {
      -webkit-transform: scale(1);
      -ms-transform: scale(1);
      transform: scale(1);
  }
}
@-webkit-keyframes bounceIn-s1sk8jcl {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      -ms-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      -ms-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      -ms-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      -ms-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      -ms-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scaleZ(1);
  }
}
@keyframes bounceIn-s1sk8jcl {
  0%,
  20%,
  40%,
  60%,
  80%,
  to {
      -webkit-animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
      animation-timing-function: cubic-bezier(0.215, 0.61, 0.355, 1);
  }
  0% {
      opacity: 0;
      -webkit-transform: scale3d(0.3, 0.3, 0.3);
      -ms-transform: scale3d(0.3, 0.3, 0.3);
      transform: scale3d(0.3, 0.3, 0.3);
  }
  20% {
      -webkit-transform: scale3d(1.1, 1.1, 1.1);
      -ms-transform: scale3d(1.1, 1.1, 1.1);
      transform: scale3d(1.1, 1.1, 1.1);
  }
  40% {
      -webkit-transform: scale3d(0.9, 0.9, 0.9);
      -ms-transform: scale3d(0.9, 0.9, 0.9);
      transform: scale3d(0.9, 0.9, 0.9);
  }
  60% {
      opacity: 1;
      -webkit-transform: scale3d(1.03, 1.03, 1.03);
      -ms-transform: scale3d(1.03, 1.03, 1.03);
      transform: scale3d(1.03, 1.03, 1.03);
  }
  80% {
      -webkit-transform: scale3d(0.97, 0.97, 0.97);
      -ms-transform: scale3d(0.97, 0.97, 0.97);
      transform: scale3d(0.97, 0.97, 0.97);
  }
  to {
      opacity: 1;
      -webkit-transform: scale3d(1, 1, 1);
      -ms-transform: scale3d(1, 1, 1);
      transform: scaleZ(1);
  }
}
.s1sk8jcl .img-cont {
  width: 14.375rem;
  height: 14.375rem;
  position: relative;
  margin: 0 auto;
}
.s1sk8jcl .img-cont .bg {
  position: absolute;
  width: 14.375rem;
  left: 0;
  top: 0;
  -webkit-animation: imgScale-s1sk8jcl 0.3s linear both;
  animation: imgScale-s1sk8jcl 0.3s linear both;
}
.s1sk8jcl .img-cont .img {
  opacity: 0;
  position: absolute;
  width: 11.25rem;
  top: 4.375rem;
  left: 1.5625rem;
  -webkit-animation: bounceIn-s1sk8jcl 1s linear both;
  animation: bounceIn-s1sk8jcl 1s linear both;
  -webkit-animation-delay: 0.3s;
  animation-delay: 0.3s;
}
.s1sk8jcl .btn-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  width: 15.875rem;
  margin: 0 auto;
}
.s1sk8jcl .btn-wrap .collect {
  width: 10.9375rem;
  height: 3rem;
}
.s1sk8jcl .btn-wrap .share-local {
  width: 4.6875rem;
  height: 3rem;
  margin-left: 0.25rem;
  background-image: none;
  background-color: #6b7180;
}
.s1sk8jcl .btn-wrap .share-local .icon {
  fill: #fff;
}
.s1sk8jcl .cont {
  width: 16.25rem;
  line-height: 3rem;
  margin: 0 auto 1.5rem;
  text-align: center;
  height: 3rem;
  border-radius: 0.9375rem;
  background-color: rgba(15, 16, 17, 0.5);
  font-size: 1.125rem;
  color: #5ddb1c;
  font-weight: 800;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s1sk8jcl .cont .coin-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.s1sk8jcl .cont .currency {
  color: #fff;
  margin-left: 0.5rem;
}
.s1sk8jcl .loading,
.s1sk8jcl .empty {
  display: none;
}
@media screen and (max-width: 621px) {
  .s1sk8jcl {
      padding: 0 0.625rem 0.625rem;
  }
}
.s1dm07mj {
  position: absolute;
  width: 21.75rem;
  height: 21.75rem;
  left: 0;
  top: 0;
}
@-webkit-keyframes lightRot-s1dm07mj {
  0% {
      -webkit-transform: rotate(22.5deg);
      -ms-transform: rotate(22.5deg);
      transform: rotate(22.5deg);
  }
  50% {
      -webkit-transform: rotate(22.5deg);
      -ms-transform: rotate(22.5deg);
      transform: rotate(22.5deg);
  }
  50.1% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
  }
  to {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
  }
}
@keyframes lightRot-s1dm07mj {
  0% {
      -webkit-transform: rotate(22.5deg);
      -ms-transform: rotate(22.5deg);
      transform: rotate(22.5deg);
  }
  50% {
      -webkit-transform: rotate(22.5deg);
      -ms-transform: rotate(22.5deg);
      transform: rotate(22.5deg);
  }
  50.1% {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
  }
  to {
      -webkit-transform: rotate(0);
      -ms-transform: rotate(0);
      transform: rotate(0);
  }
}
.s1dm07mj .spin-img {
  position: absolute;
  width: 21.75rem;
  height: 21.75rem;
  left: 0;
  top: 0;
}
.s1dm07mj .diamond-cont {
  position: absolute;
  width: 21.75rem;
  height: 21.75rem;
  left: 0;
  top: 0;
  z-index: 4;
}
.s1dm07mj .spin-light {
  position: absolute;
  width: 21.75rem;
  height: 21.75rem;
  z-index: 1;
  left: 0;
  top: 0;
}
.s1dm07mj .spin-light.active {
  -webkit-animation: lightRot-s1dm07mj 2s none infinite;
  animation: lightRot-s1dm07mj 2s none infinite;
}
.s1dm07mj .spin-item {
  position: absolute;
  height: 1.5rem;
  width: 5.5rem;
  top: 50%;
  left: 50%;
  line-height: 1.5rem;
  margin-top: -0.75rem;
  -webkit-transform-origin: -3.8125rem center;
  -ms-transform-origin: -3.8125rem center;
  transform-origin: -3.8125rem center;
  margin-left: 3.875rem;
  color: #fff;
  font-size: 0.9375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.s1dm07mj .spin-item .amount {
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
}
.s1dm07mj .spin-item .icon {
  position: absolute;
  right: -0.3125rem;
  top: -0.3125rem;
  fill: #fff;
  opacity: 0.7;
  height: 0.6875rem;
  width: 0.6875rem;
  border-radius: 0.6875rem;
}
.s1dm07mj .spin-item .coin-icon {
  height: 1.5rem;
  width: 1.5rem;
}
.s1mdpn4f {
  position: absolute;
  width: 21.75rem;
  height: 21.75rem;
  left: 0;
  top: 0;
}
.s1mdpn4f .point-img {
  position: absolute;
  height: 5.59375rem;
  right: -1.90625rem;
  top: 8.0625rem;
  width: 10rem;
  -webkit-transform-origin: left center;
  -ms-transform-origin: left center;
  transform-origin: left center;
}
.s1mdpn4f .point-img .light-wrap {
  overflow: hidden;
  position: absolute;
  width: 6.875rem;
  height: 3.75rem;
  top: 0.9375rem;
}
.s1mdpn4f .point-img .point-light {
  top: 1.125rem;
  left: -1.875rem;
  position: absolute;
  width: 0.9375rem;
  height: 1.25rem;
  z-index: 6;
  overflow: hidden;
  background: -webkit-gradient(linear, left top, right top, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(50%, rgba(255, 255, 255, 0.2)), color-stop(100%, rgba(255, 255, 255, 0)));
  -webkit-transform: skewX(-25deg);
  -ms-transform: skewX(-25deg);
  transform: skew(-25deg);
}
.s1mdpn4f .point-img img {
  width: 100%;
  height: 100%;
}
.s1rnlfw6 {
  width: 21.75rem;
  height: 28.4375rem;
  position: relative;
  margin: 1.875rem auto 1.25rem;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
@-webkit-keyframes pulse-s1rnlfw6 {
  0% {
      -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
      -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
      transform: rotate(-5deg) scaleZ(1);
  }
  50% {
      -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
      -ms-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
      transform: rotate(0) scale3d(1.1, 1.1, 1.1);
  }
  to {
      -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
      -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
      transform: rotate(-5deg) scaleZ(1);
  }
}
@keyframes pulse-s1rnlfw6 {
  0% {
      -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
      -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
      transform: rotate(-5deg) scaleZ(1);
  }
  50% {
      -webkit-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
      -ms-transform: rotate(0deg) scale3d(1.1, 1.1, 1.1);
      transform: rotate(0) scale3d(1.1, 1.1, 1.1);
  }
  to {
      -webkit-transform: rotate(-5deg) scale3d(1, 1, 1);
      -ms-transform: rotate(-5deg) scale3d(1, 1, 1);
      transform: rotate(-5deg) scaleZ(1);
  }
}
.s1rnlfw6 .btn-img {
  position: absolute;
  width: 6.5rem;
  height: 6.5rem;
  top: 7.625rem;
  left: 7.625rem;
  cursor: pointer;
}
.s1rnlfw6 .btn-img .spin-particles {
  position: absolute;
  width: 5.5rem;
  height: 5.5rem;
  border-radius: 2.75rem;
  overflow: hidden;
  top: 0;
  left: 0.5rem;
}
.s1rnlfw6 .btn-img .btn-txt {
  position: absolute;
  width: 5.5rem;
  height: 3.5rem;
  top: 1.5625rem;
  left: 0.5rem;
}
.s1rnlfw6 .btn-img:not(.loading) .btn-txt {
  -webkit-animation: pulse-s1rnlfw6 2s infinite linear;
  animation: pulse-s1rnlfw6 2s infinite linear;
}
.s1rnlfw6 .btn-img img {
  width: 100%;
  height: 100%;
}
.s1rnlfw6 .banner-img {
  position: absolute;
  height: 5.3125rem;
  width: 21.25rem;
  left: 0.25rem;
  top: 19.625rem;
}
.s1rnlfw6 .banner-img img {
  width: 100%;
  height: 100%;
  display: inline-block;
  vertical-align: top;
}
.s1rnlfw6 .btn {
  position: absolute;
  width: 15rem;
  left: 3.75rem;
  bottom: 0;
}
.szft0qp {
  text-align: center;
  width: 26.5rem;
  height: 43.75rem;
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  margin-left: -13.25rem;
  margin-top: -21.875rem;
  border-radius: 1.25rem;
  padding: 0.625rem;
  background-image: linear-gradient(to bottom, #17181b, #17181b);
  -webkit-transform: translate3d(50%, 0, 0);
  -ms-transform: translate3d(50%, 0, 0);
  transform: translate3d(50%, 0, 0);
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  opacity: 0;
}
.szft0qp.enter {
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
  -webkit-transform: translate3d(0, 0, 0);
  -ms-transform: translate3d(0, 0, 0);
  transform: translateZ(0);
  opacity: 1;
}
.szft0qp p {
  margin: 0;
}
.szft0qp .winlist-wrap {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 100%;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.szft0qp .win-list {
  margin-top: 1rem;
  margin-bottom: 0.125rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  border-radius: 16px;
  background-color: #1e2024;
  overflow: hidden;
}
.szft0qp .win-list .td {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}
.szft0qp .win-list .td p {
  width: 30%;
  padding: 0.875rem 0.75rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: center;
}
.szft0qp .win-list .td p:first-of-type {
  text-align: left;
}
.szft0qp .win-list .td p:last-of-type {
  width: 40%;
  text-align: right;
}
.szft0qp .pop-control {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
}
.szft0qp .pop-control .back {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
  margin: 0.375rem;
}
.szft0qp .crown {
  width: 2.9375rem;
}
.szft0qp .spin-bonus {
  height: 1.375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  font-size: 1.125rem;
  font-weight: 800;
  color: #fff;
}
.szft0qp .spin-bonus .tit {
  margin: 0 0.3125rem;
}
.szft0qp .spin-bonus img {
  height: 100%;
}
.szft0qp .spin-bonus img.suf-img {
  -webkit-transform: scaleX(-1);
  -ms-transform: scaleX(-1);
  transform: scaleX(-1);
}
.szft0qp .table-header {
  width: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.szft0qp .table-header p {
  padding: 0.875rem 0.75rem;
}
.szft0qp .winlist-swiper {
  width: 100%;
  height: 100%;
}
.szft0qp .winlist-swiper .swiper-slide {
  height: 2.125rem;
}
.szft0qp .winlist-swiper .swiper-slide .name {
  color: #fff;
  font-weight: 800;
}
.szft0qp .winlist-swiper .swiper-slide .amount {
  color: #8ac934;
}
.s1yjjo8e {
  height: 6.25rem;
  background-color: #151617;
  border-radius: 0.75rem;
  padding: 0.25rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  color: #767b81;
}
.s1yjjo8e .left-cont {
  background-color: #191a1b;
  border-radius: 0.625rem;
  width: 10rem;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  text-align: center;
}
.s1yjjo8e .left-cont .tit {
  font-size: 0.75rem;
  line-height: 0.75rem;
  height: 0.75rem;
  margin-top: 2rem;
}
.s1yjjo8e .left-cont .amount {
  color: #e9d317;
  font-size: 1.1875rem;
  line-height: 1.1875rem;
  height: 1.1875rem;
  font-weight: 800;
  margin-top: 0.3125rem;
}
.s1yjjo8e .right-cont {
  background-color: #191a1b;
  border-radius: 0.625rem;
  -webkit-flex: auto;
  -ms-flex: auto;
  flex: auto;
  margin-left: 0.25rem;
  -webkit-align-self: stretch;
  -ms-flex-item-align: stretch;
  align-self: stretch;
  position: relative;
  overflow: hidden;
  cursor: pointer;
}
.s1yjjo8e .right-cont .data-cont {
  padding: 0.625rem 1.5625rem 0 3.75rem;
  width: 100%;
  height: 5.75rem;
}
.s1yjjo8e .right-cont .data-cont .icon {
  height: 1.25rem;
  position: absolute;
  top: 2.25rem;
  right: 0.3125rem;
}
.s1yjjo8e .right-cont .data-cont .avatar {
  position: absolute;
  top: 0.9375rem;
  width: 1.75rem;
  height: 1.75rem;
  border-radius: 0.875rem;
  left: 1rem;
}
.s1yjjo8e .right-cont .data-cont .cont .name {
  color: #94a3c8;
  font-size: 0.9375rem;
}
.s1yjjo8e .right-cont .data-cont .cont .win {
  white-space: nowrap;
}
.s1yjjo8e .right-cont .data-cont .cont .win .amount {
  color: #45cb1d;
}
.s1yjjo8e .right-cont .data-cont .cont .win .currency {
  color: #fff;
}
.s1yjjo8e .right-cont .data-cont .cont .type b {
  color: #f1905c;
}
@media screen and (max-width: 621px) {
  .s1yjjo8e .left-cont {
      width: 9.375rem;
  }
}
.s1cxjc1r {
  position: relative;
  width: 424px;
  height: 43.75rem;
  border-radius: 1.25rem;
  padding: 0.75rem;
  background-image: linear-gradient(8deg, #31343c -16%, #1e2025 -5%, #1e2025 6%, #1d2024 40%, #1e2025 74%, #1e2025 113%);
}
.s1cxjc1r .close {
  position: absolute;
  right: -1.25rem;
  top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 1.25rem;
  z-index: 10;
  background-color: #1d2024;
}
.s1cxjc1r .bg-a {
  width: 14.375rem;
  height: 16.5625rem;
  opacity: 0.65;
  -webkit-filter: blur(26px);
  filter: blur(26px);
  background-image: radial-gradient(circle at 50% 50%, rgba(7, 250, 218, 0.35), rgba(0, 0, 0, 0) 76%);
  position: absolute;
  top: 4.375rem;
  right: 0;
}
.s1cxjc1r .bg-b {
  width: 12.5rem;
  height: 15rem;
  top: 15.3125rem;
  left: 0;
  opacity: 0.65;
  position: absolute;
  -webkit-filter: blur(26px);
  filter: blur(26px);
  background-image: radial-gradient(circle at 50% 50%, rgba(217, 21, 255, 0.6), rgba(0, 0, 0, 0) 75%);
}
.s1cxjc1r .pre_btn {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  left: 0;
  top: 21.875rem;
  z-index: 9;
}
.s1cxjc1r .pre_btn .btn-wrap {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 0.6875rem;
  background-color: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s1cxjc1r .pre_btn .btn-wrap .icon {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  width: 0.75rem;
  fill: #fff;
}
.s1cxjc1r .suff_btn {
  width: 3.125rem;
  height: 3.125rem;
  position: absolute;
  right: 0;
  top: 21.875rem;
  z-index: 9;
}
.s1cxjc1r .suff_btn .btn-wrap {
  width: 1.375rem;
  height: 1.375rem;
  border-radius: 0.6875rem;
  background-color: rgba(255, 255, 255, 0.05);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.s1cxjc1r .suff_btn .btn-wrap .icon {
  width: 0.75rem;
  fill: #fff;
}
@media screen and (max-width: 621px) {
  .s1cxjc1r {
      width: 25rem;
      padding: 0.625rem;
  }
}
