.n1shs8kd {
  --pwaeyx: #ffffff;
  --whdmoy: #31373d;
  --7gi6dg: #aeb3c2;
  height: 4rem;
  position: relative;
  z-index: 1;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-flex-shrink: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  padding: 0;
  background: var(--pwaeyx);
}
.darken .n1shs8kd {
  --pwaeyx: #1e2024;
  --whdmoy: #f5f6f7;
  --7gi6dg: #555b65;
}
.n1shs8kd .title {
  color: var(--whdmoy);
  font-size: 1rem;
  padding-left: 1.25rem;
}
.n1shs8kd .close-icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  cursor: pointer;
}
.n1shs8kd .close-icon > svg {
  font-size: 0.625rem;
  -webkit-transition: -webkit-transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
  -webkit-transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
  transition: transform 0.5s cubic-bezier(0.36, 0.66, 0.04, 1);
  fill: var(--7gi6dg);
}
.n1shs8kd .close-icon:hover > svg {
  -webkit-transform: rotate(-90deg);
  -ms-transform: rotate(-90deg);
  transform: rotate(-90deg);
  fill: var(--primary-color);
}
@media screen and (max-width: 621px) {
  .n1shs8kd {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      z-index: 11;
  }
}
.slq3f87 {
  --j0tnut: rgba(233, 234, 242, 0.6);
  --17ynnc2: rgba(192, 196, 208, 0.3);
  --whdmoy: #31373d;
  --vpkcea: #5f6975;
  --tt26x0: rgba(95, 105, 117, 0.8);
  --loyv51: url("../assets/hand-w.391870da.svg");
  --1r8kt4k: #ffffff;
  --1uvkmwv: #5f6975;
  width: 100%;
  background: var(--j0tnut);
  border-radius: 1.25rem;
  padding: 1.25rem 0;
  position: relative;
  margin-bottom: 0.5rem;
  word-break: break-word;
}
.darken .slq3f87 {
  --j0tnut: rgba(45, 48, 53, 0.6);
  --17ynnc2: rgba(85, 91, 101, 0.2);
  --whdmoy: #f5f6f7;
  --vpkcea: rgba(153, 164, 176, 0.6);
  --tt26x0: rgba(153, 164, 176, 0.8);
  --loyv51: url("../assets/hand.1053c278.svg");
  --1r8kt4k: rgba(30, 32, 36, 0.7);
  --1uvkmwv: #f5f6f7;
}
.slq3f87.unread:after {
  content: "";
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  background: var(--primary-color);
  position: absolute;
  top: 0.75rem;
  right: 0.5625rem;
}
.slq3f87 .item-head {
  padding: 0 0.875rem;
  border-bottom: 1px solid var(--17ynnc2);
}
.slq3f87 .item-head .title {
  font-size: 1rem;
  color: var(--whdmoy);
  line-height: 1.25;
  font-weight: 600;
}
.slq3f87 .item-head .base {
  color: var(--vpkcea);
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 1rem 0 0.625rem;
}
.slq3f87 .item-head .avatar {
  width: 1.625rem;
  height: 1.625rem;
  margin-right: 0.375rem;
}
.slq3f87 .item-head .user-name {
  font-size: 0.875rem;
}
.slq3f87 .item-head .time {
  font-size: 0.75rem;
}
.slq3f87 .item-content {
  font-size: 0.875rem;
  color: var(--tt26x0);
  padding: 0 0.875rem;
}
.slq3f87 .item-content .welcome {
  font-weight: 600;
  padding: 1.25rem 2.1875rem;
  color: var(--whdmoy);
  background: var(--loyv51) no-repeat left center/ 1.6875rem 2.1875rem;
}
.slq3f87 .item-content .p {
  margin: 0 0 0.875rem;
  white-space: pre-wrap;
}
.slq3f87 .item-content .link-box {
  background: var(--1r8kt4k);
  border-radius: 0.625rem;
  padding: 0.625rem;
}
.slq3f87 .item-content .link-box .tip {
  font-size: 0.875rem;
  color: var(--1uvkmwv);
}
.slq3f87 .item-content .hover {
  font-size: 0.75rem;
  color: var(--primary-color);
}
.slq3f87 .item-content .finger {
  padding-right: 1.5rem;
  background: url("../assets/finger.1b642f84.svg") no-repeat right center/ 0.9375rem auto;
}
.slq3f87 .item-content .image {
  width: 100%;
  border-radius: 0.625rem;
}
.r1jw2hew {
  --pwaeyx: #ffffff;
  --1vxeu33: rgba(0, 0, 0, 0.1);
  --7gi6dg: #aeb3c2;
  --1odrg3o: #6a6e73;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: 2.5rem;
  background: var(--pwaeyx);
  box-shadow: 0 2px 6px var(--1vxeu33);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  padding-right: 1.25rem;
  z-index: 5;
}
.darken .r1jw2hew {
  --pwaeyx: #1e2024;
  --1vxeu33: rgba(0, 0, 0, 0.19);
  --7gi6dg: #555b65;
  --1odrg3o: #d8d8d8;
}
.r1jw2hew .icon {
  width: 1rem;
  height: 1rem;
  fill: var(--7gi6dg);
  cursor: pointer;
}
.r1jw2hew .icon.active {
  fill: var(--1odrg3o);
}
.r1jw2hew .icon:last-child {
  margin-left: 1.875rem;
}
.r1vknju2 {
  --7h9g04: #f5f6fa;
  --whdmoy: #31373d;
  --1uvkmwv: #5f6975;
  --1qjpy7t: #5f6975;
  --17ynnc2: rgba(192, 196, 208, 0.3);
  border-radius: 1.25rem;
  background-color: var(--7h9g04);
  background-repeat: no-repeat;
  background-size: 100% auto;
  background-position: left top;
  padding: 1.5rem 0.875rem 0;
  margin-bottom: 0.625rem;
  position: relative;
}
.darken .r1vknju2 {
  --7h9g04: #17181b;
  --whdmoy: #f5f6f7;
  --1uvkmwv: #f5f6f7;
  --1qjpy7t: #ffffff;
  --17ynnc2: rgba(85, 91, 101, 0.2);
}
.r1vknju2 .go-to-link {
  margin-top: 0.875rem;
}
.r1vknju2 .go-to-link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.r1vknju2 .go-to-link a {
  font-size: 0.875rem;
  font-weight: 400;
  color: var(--primary-color);
}
.r1vknju2 .go-to-link .icon {
  font-size: 0.5625rem;
  margin-left: 0.1875rem;
  fill: var(--primary-color);
  margin-top: 0.125rem;
}
.r1vknju2 .tag-box {
  position: absolute;
  top: -0.125rem;
  right: -0.125rem;
  width: 4.25rem;
  height: 4.25rem;
  z-index: 2;
  background: url("../assets/tag.5c01fd72.svg") no-repeat right top/auto 100%;
  color: #fff;
  font-size: 0.875rem;
  font-weight: 600;
}
.r1vknju2 .tag-box .tag {
  text-transform: uppercase;
  width: 140%;
  text-align: center;
  -webkit-transform: rotateZ(45deg) translateY(-1.375rem);
  -ms-transform: rotateZ(45deg) translateY(-1.375rem);
  transform: rotate(45deg) translateY(-1.375rem);
  -webkit-transform-origin: left top;
  -ms-transform-origin: left top;
  transform-origin: left top;
}
.r1vknju2 .title {
  font-size: 1rem;
  font-weight: 600;
  max-width: 16.25rem;
  white-space: pre-wrap;
  color: var(--whdmoy);
  word-break: break-word;
  line-height: 1.375rem;
}
.r1vknju2 .coin .coin-icon {
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.5rem;
}
.r1vknju2 .coin .amount {
  color: var(--primary-color);
}
.r1vknju2 .coin .name {
  color: var(--1uvkmwv);
}
.r1vknju2 .claimed {
  color: var(--1qjpy7t);
  position: relative;
  padding-left: 1.25rem;
  font-size: 0.875rem;
}
.r1vknju2 .claimed:before {
  content: "";
  position: absolute;
  top: 0.25rem;
  left: 0;
  width: 0.875rem;
  height: 0.625rem;
  border-left: 0.1875rem solid var(--primary-color);
  border-bottom: 0.1875rem solid var(--primary-color);
  -webkit-transform: rotateZ(-45deg);
  -ms-transform: rotateZ(-45deg);
  transform: rotate(-45deg);
}
.r1vknju2 .from {
  height: 2.8125rem;
  color: #5f6975;
  position: relative;
}
.r1vknju2 .from:before {
  content: "";
  position: absolute;
  top: 0;
  left: -0.875rem;
  right: -0.875rem;
  height: 1px;
  background: var(--17ynnc2);
}
.r1vknju2 .from .avatar {
  width: 1.625rem;
  height: 1.625rem;
  border-radius: 50%;
  margin-right: 0.375rem;
}
.r1vknju2 .from .origin {
  font-size: 0.875rem;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  padding-right: 0.25rem;
}
.r1vknju2 .from .time {
  font-size: 0.75rem;
  color: rgba(95, 105, 117, 0.6);
  white-space: nowrap;
}
.s1ekh4ib {
  --1kkbz59: #e9eaf2;
}
.darken .s1ekh4ib {
  --1kkbz59: rgba(44, 47, 54, 0.4);
}
.s1ekh4ib.disabled {
  opacity: 0.7;
}
.s1ekh4ib .go-to-link {
  margin-top: 0.125rem;
  height: 1.125rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
}
.s1ekh4ib .go-to-link:hover {
  -webkit-text-decoration: underline;
  text-decoration: underline;
}
.s1ekh4ib .go-to-link a {
  font-size: 0.875rem;
  height: 1.125rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: var(--primary-color);
}
.s1ekh4ib .go-to-link .icon {
  font-size: 0.5625rem;
  margin-left: 0.1875rem;
  fill: var(--primary-color);
  margin-top: 0.125rem;
}
.s1ekh4ib .status {
  min-height: 4.25rem;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0.875rem 0 1rem;
  font-weight: 600;
  font-size: 1rem;
}
.s1ekh4ib .status .claim {
  width: auto;
  min-width: 5rem;
  height: 2.25rem;
  font-size: 0.875rem;
}
.s1ekh4ib .rewards-wrap {
  position: relative;
}
.s1ekh4ib .rewards-wrap.multiple {
  background: var(--1kkbz59);
  border-radius: 1.125rem;
  padding: 0.75rem 0.625rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  margin-left: -0.625rem;
}
.s1ekh4ib .rewards-wrap .coin {
  margin-bottom: 0.625rem;
}
.s1ekh4ib .rewards-wrap .coin:last-child {
  margin-bottom: 0;
}
.s1ekh4ib .rewards-wrap .effect-box {
  position: absolute;
  left: 2.75rem;
  color: var(--primary-color);
  opacity: 0;
}
.s1ekh4ib .rewards-wrap .effect-box.effect {
  -webkit-animation: zoomOut-s1ekh4ib ease-out 1s;
  animation: zoomOut-s1ekh4ib ease-out 1s;
}
@-webkit-keyframes zoomOut-s1ekh4ib {
  0% {
      -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  to {
      -webkit-transform: scale(1.35) translateY(-50px);
      -ms-transform: scale(1.35) translateY(-50px);
      transform: scale(1.35) translateY(-50px);
      opacity: 0;
  }
}
@keyframes zoomOut-s1ekh4ib {
  0% {
      -webkit-transform: scale(1) translateY(0);
      -ms-transform: scale(1) translateY(0);
      transform: scale(1) translateY(0);
      opacity: 1;
  }
  70% {
      opacity: 1;
  }
  to {
      -webkit-transform: scale(1.35) translateY(-50px);
      -ms-transform: scale(1.35) translateY(-50px);
      transform: scale(1.35) translateY(-50px);
      opacity: 0;
  }
}
.f1j0o1r5 {
  --1wu1ftf: #e9eaf2;
}
.darken .f1j0o1r5 {
  --1wu1ftf: #2c2f36;
}
.f1j0o1r5.disabled {
  opacity: 0.7;
}
.f1j0o1r5 .flower {
  position: absolute;
  width: 11.875rem;
  height: 9.375rem;
  top: 0;
  right: -1.25rem;
  z-index: 1;
  background: url("../assets/flower.b78eecee.png") no-repeat center/ cover;
}
.f1j0o1r5 .small-bg {
  position: absolute;
  width: 9.375rem;
  height: 9.375rem;
  top: 0;
  right: 0;
  z-index: 2;
  background-repeat: no-repeat;
  background-position: right top;
  background-size: auto 100%;
}
.f1j0o1r5 .title {
  max-width: 12.5rem;
}
.f1j0o1r5 .desc {
  font-size: 0.75rem;
  color: #5f6975;
  white-space: pre-wrap;
  word-break: break-word;
  max-width: 11.25rem;
  line-height: normal;
  min-height: 5.9375rem;
  padding: 0.625rem 0 2.1875rem;
}
.f1j0o1r5 .main-box {
  position: relative;
  z-index: 3;
  border-radius: 1.25rem;
  background: var(--1wu1ftf);
  margin: 0 -0.875rem;
  padding: 0 0.875rem;
}
.f1j0o1r5 .main-box .status {
  padding: 1.375rem 0;
  font-weight: 600;
  font-size: 1rem;
}
.f1j0o1r5 .main-box .coin-wrap {
  padding: 1.375rem 0;
  background: url("../assets/coin-bg.b80f86d1.png") no-repeat center 0px / auto 0%;
}
.f1j0o1r5 .main-box .coin-wrap .amount-str {
  width: auto;
}
.f1j0o1r5 .main-box .coin-wrap.effect {
  -webkit-animation: identifier-f1j0o1r5 linear 1.1s;
  animation: identifier-f1j0o1r5 linear 1.1s;
}
@-webkit-keyframes identifier-f1j0o1r5 {
  0% {
      background-size: auto 0%;
      background-position: center;
  }
  50% {
      background-size: auto 40px;
      background-position: center -2px;
  }
  55% {
      background-size: auto 45px;
      background-position: center -3px;
  }
  65% {
      background-size: auto 50px;
      background-position: center 0;
  }
  70% {
      background-size: auto 52px;
      background-position: center 2px;
  }
  to {
      background-size: auto 60px;
      background-position: center 46px;
  }
}
@keyframes identifier-f1j0o1r5 {
  0% {
      background-size: auto 0%;
      background-position: center;
  }
  50% {
      background-size: auto 40px;
      background-position: center -2px;
  }
  55% {
      background-size: auto 45px;
      background-position: center -3px;
  }
  65% {
      background-size: auto 50px;
      background-position: center 0;
  }
  70% {
      background-size: auto 52px;
      background-position: center 2px;
  }
  to {
      background-size: auto 60px;
      background-position: center 46px;
  }
}
.f1j0o1r5 .main-box .claim {
  height: 2.75rem;
  width: auto;
  min-width: 9.75rem;
  margin: 0 auto;
}
.f1j0o1r5 .main-box .claimed {
  padding-left: 1.625rem;
}
.f1j0o1r5 .rewards-wrap {
  width: 15.625rem;
  margin: 0 auto;
  border-radius: 1.25rem;
  background-color: var(--1wu1ftf);
  padding: 0.875rem 0 0.875rem 2rem;
}
.f1j0o1r5 .rewards-wrap.single {
  border-radius: 1.375rem;
  padding: 0;
  height: 2.75rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
}
.f1j0o1r5 .rewards-wrap .coin {
  margin-bottom: 0.625rem;
}
.f1j0o1r5 .rewards-wrap .coin:last-child {
  margin-bottom: 0;
}
.n1qi29cj {
  padding-top: 2.875rem;
  height: 100%;
}
.n1qi29cj .reward-container {
  padding-right: 0.125rem;
  margin-right: -0.125rem;
  padding-top: 0.125rem;
  margin-top: -0.125rem;
  padding-bottom: 1.5rem;
  overflow: hidden;
  position: relative;
  z-index: 2;
}
.n76iq9j {
  --pwaeyx: #ffffff;
  --14tbr77: linear-gradient(to bottom, #a5aeb8, rgba(197, 203, 213, 0));
  --qf1vno: 0.15;
  --1qobehr: rgba(192, 196, 208, 0.6);
  --whdmoy: #31373d;
  --7gi6dg: #aeb3c2;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  background: var(--pwaeyx);
  overflow: hidden;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.darken .n76iq9j {
  --pwaeyx: #1e2024;
  --14tbr77: linear-gradient(to bottom, #111415, rgba(17, 20, 21, 0));
  --qf1vno: 0.44;
  --1qobehr: rgba(49, 56, 61, 0.6);
  --whdmoy: #f5f6f7;
  --7gi6dg: #555b65;
}
.n76iq9j .notice-tabs {
  height: 3.4375rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  background-color: var(--pwaeyx);
  position: relative;
}
.n76iq9j .notice-tabs:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 0.75rem;
  background-image: var(--14tbr77);
  opacity: var(--qf1vno);
}
.n76iq9j .notice-tabs:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  height: 1px;
  background: var(--1qobehr);
  z-index: 11;
}
.n76iq9j .notice-tabs .tab {
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  font-size: 0.875rem;
  color: rgba(95, 105, 117, 0.6);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-align-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center;
  height: 100%;
}
.n76iq9j .notice-tabs .tab.is-active {
  position: relative;
  color: var(--whdmoy);
  font-weight: 600;
  background-image: linear-gradient(to top, rgba(91, 174, 28, 0.15), rgba(91, 174, 28, 0) 60%);
}
.n76iq9j .notice-tabs .tab.is-active:after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 0.125rem;
  background-color: var(--primary-color);
  z-index: 12;
}
.n76iq9j .notice-tabs .tab .icon {
  width: 1rem;
  height: 1rem;
  margin-right: 0.375rem;
  fill: var(--7gi6dg);
}
.n76iq9j .notice-tabs .tab .reward {
  width: 1rem;
  height: 1rem;
  margin-right: 0.375rem;
  background: url("../assets/gift.1d6007eb.svg") no-repeat center/auto 100%;
}
.n76iq9j .notice-tabs .label {
  position: relative;
}
.n76iq9j .notice-tabs .label .badge {
  font-weight: 400;
  right: -0.5rem;
}
.n76iq9j .scroll-wrap {
  overflow: hidden;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: relative;
}
.n76iq9j .notice-container {
  padding: 0.625rem;
}
.n1wznqlc {
  width: 100%;
  max-width: 414px;
  height: 100%;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
  position: relative;
}
